.CreateTodoButton {
  border: none;
  background: #310a90;
  position: fixed;
  bottom: 100px;
  right: 22rem;
  inline-size: 40px;
  block-size: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  z-index: 999;

  transform: rotate(0);
  transition: 0.3s ease;
}

.CreateTodoButton:hover {
  transform: rotate(224deg);
}

@media screen and (max-width: 768px) {
  .CreateTodoButton {
    right: 12px;
  }
}
