.CreateTodoButton {
  border: none;
  background: #310a90;
  position: fixed;
  bottom: 100px;
  right: 22rem;
  inline-size: 40px;
  block-size: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  z-index: 999;
}
@media screen and (max-width: 768px) {
  .CreateTodoButton {
    right: 12px;
  }
}
